* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECF2FF;
}

.container {
  width: 736px;
  height: 512px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
}

.container .left {
  width: 368px;
  /* border: 1px solid red; */
  background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.container .left .title {
  font-family: Hanken Grotesk;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 35px;
}

.container .left .oval {
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 28px;
}

.container .left .oval h1 {
  font-family: Hanken Grotesk;
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 14px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container .left .oval p {
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-weight: 700;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container .left h1 {
  font-family: Hanken Grotesk;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.container .left h3 {
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container .right {
  width: 300px;
  /* border: 1px solid green; */
}

.container .right h2 {
  font-family: Hanken Grotesk;
  font-size: 24px;
  font-weight: 700;
  margin-top: 38px;
}

.container .right .informations {
  width: 288px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
  margin-bottom: 30px;
}

.container .right .informations img {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-left: 16px;
  padding: 0px;
}

.container .right .informations .result {
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-weight: 500;
  color: #FF5555;
  margin: 0px;
  margin-left: 12px;
  padding: 0px;
}

.container .right .informations .color-yellow {
  color: yellow;
}

.container .right .informations .color-green {
  color: green;
}

.container .right .informations .color-blue {
  color: blue;
}

.container .right .informations p .point {
  font-weight: 700;
}

.container .right .informations p span {
  color: #303B59;
  margin: 0px;
  margin-left: 3px;
  padding: 0px;
}

.container .right a {
  display: block;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-weight: 700;
  background-color: #303B59;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}